.login_div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fcfcfc;
}

.login_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.svg {
  margin-bottom: 10px;
}

.p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.buttons_div {
  display: flex;
  flex-direction: column;
  gap: 0.425rem;
  width: 75%;
  margin-top: 10px;
}

.login_btn {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  height: 35px;
  background-color: #152dff;
  border: 1px solid #152dff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 100ms;
}

.login_btn:hover {
  background-color: #152cffc7;
  border: 1px solid #152cffc7;
}

.signup_btn {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  height: 35px;
  background-color: transparent;
  border: 1px solid #152dff;
  color: #152dff;
  cursor: pointer;
  border-radius: 5px;
  transition: 100ms;
}

.signup_btn:hover {
  background-color: #152dff;
  border: 1px solid #152dff;
  color: white;
}
